-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: web_dev
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `addresses`
--

LOCK TABLES `addresses` WRITE;
/*!40000 ALTER TABLE `addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `admin_notifications`
--

LOCK TABLES `admin_notifications` WRITE;
/*!40000 ALTER TABLE `admin_notifications` DISABLE KEYS */;
INSERT INTO `admin_notifications` (`notification_id`, `type`, `title`, `message`, `related_id`, `is_read`, `created_at`, `read_at`) VALUES (1,'new_message','New Contact Message','New message from Jerry Maw - Subject: Product Question',1,0,'2026-01-19 15:47:15',NULL),(2,'new_message','New Contact Message','New message from Jerry Maw - Subject: Feedback',2,0,'2026-01-21 20:47:21',NULL),(3,'new_message','New Contact Message','New message from fdhgft ghfyttf - Subject: Shipping/Delivery',3,0,'2026-01-22 21:31:10',NULL);
/*!40000 ALTER TABLE `admin_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `admin_users`
--

LOCK TABLES `admin_users` WRITE;
/*!40000 ALTER TABLE `admin_users` DISABLE KEYS */;
INSERT INTO `admin_users` (`id`, `username`, `email`, `password_hash`, `role`, `status`, `last_login_at`, `created_at`, `updated_at`) VALUES (1,'admin','admin@gmail.com','$2y$10$fFnxFAmm5w8IN7VJAlN7ReNcvsQqhB85DSxl0y0V4LiK5NrBzkDLq','superadmin','active','2026-01-22 21:29:25','2026-01-19 03:15:57','2026-01-22 13:29:25');
/*!40000 ALTER TABLE `admin_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cart`
--

LOCK TABLES `cart` WRITE;
/*!40000 ALTER TABLE `cart` DISABLE KEYS */;
INSERT INTO `cart` (`cart_id`, `user_id`, `created_at`, `updated_at`) VALUES (1,1,'2026-01-04 05:33:57','2026-01-04 05:33:57'),(2,3,'2026-01-09 03:27:32','2026-01-09 03:27:32'),(3,4,'2026-01-10 10:03:21','2026-01-10 10:03:21'),(4,5,'2026-01-10 10:05:03','2026-01-10 10:05:03'),(5,6,'2026-01-16 07:42:20','2026-01-16 07:42:20'),(6,9,'2026-01-17 13:35:53','2026-01-17 13:35:53'),(7,11,'2026-01-19 04:52:54','2026-01-19 04:52:54'),(8,12,'2026-01-19 05:25:18','2026-01-19 05:25:18');
/*!40000 ALTER TABLE `cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cart_items`
--

LOCK TABLES `cart_items` WRITE;
/*!40000 ALTER TABLE `cart_items` DISABLE KEYS */;
INSERT INTO `cart_items` (`cart_item_id`, `cart_id`, `product_id`, `quantity`, `price`) VALUES (42,2,7,1,1600.00),(43,2,9,1,1800.00),(47,4,9,1,1800.00),(162,5,8,28,1600.00),(211,8,5,1,2345.00),(213,8,2,1,2345.00),(214,8,1,1,2345.00),(215,8,3,1,1600.00),(219,1,7,1,1600.00),(220,1,9,30,1800.00),(221,1,4,2,2499.00);
/*!40000 ALTER TABLE `cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `contact_messages`
--

LOCK TABLES `contact_messages` WRITE;
/*!40000 ALTER TABLE `contact_messages` DISABLE KEYS */;
INSERT INTO `contact_messages` (`message_id`, `user_id`, `name`, `email`, `subject`, `message`, `status`, `created_at`, `updated_at`) VALUES (1,1,'Jerry Maw','jerrymaw@gmail.com','Product Question','adgasdwgasdawdasdwdasd','replied','2026-01-19 15:47:15','2026-01-19 22:51:37'),(2,1,'Jerry Maw','jerrymaw@gmail.com','Feedback','haswsasdasdwashda','read','2026-01-21 20:47:21','2026-01-21 20:47:41'),(3,1,'fdhgft ghfyttf','jerrymaw@gmail.com','Shipping/Delivery','ffuyggh77656ffghfdtdu','replied','2026-01-22 21:31:10','2026-01-22 21:31:57');
/*!40000 ALTER TABLE `contact_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `message_replies`
--

LOCK TABLES `message_replies` WRITE;
/*!40000 ALTER TABLE `message_replies` DISABLE KEYS */;
INSERT INTO `message_replies` (`reply_id`, `message_id`, `admin_id`, `reply_text`, `created_at`) VALUES (6,1,1,'shashahwashashashwaahahah','2026-01-19 22:51:37'),(7,3,1,'hatdogkhjhiyuh','2026-01-22 21:31:57');
/*!40000 ALTER TABLE `message_replies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
INSERT INTO `password_resets` (`reset_id`, `user_id`, `reset_token`, `created_at`, `expires_at`, `used_at`) VALUES (22,1,'20652877b8dbfdce57249f4db1eee5b8adb0000c6ef219ebd463f03ac42e43b7','2026-01-22 08:11:55','2026-01-22 10:11:55',NULL);
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `phil_locations`
--

LOCK TABLES `phil_locations` WRITE;
/*!40000 ALTER TABLE `phil_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `phil_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `product_reviews`
--

LOCK TABLES `product_reviews` WRITE;
/*!40000 ALTER TABLE `product_reviews` DISABLE KEYS */;
INSERT INTO `product_reviews` (`review_id`, `product_id`, `user_id`, `order_id`, `rating`, `review_content`, `status`, `is_verified`, `created_at`, `updated_at`) VALUES (1,9,1,72,5,'sobrang sarap','approved',1,'2026-01-21 12:29:13','2026-01-21 12:29:24'),(2,6,1,74,5,'verry good','approved',1,'2026-01-21 13:36:06','2026-01-21 13:36:40');
/*!40000 ALTER TABLE `product_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `product_stock_history`
--

LOCK TABLES `product_stock_history` WRITE;
/*!40000 ALTER TABLE `product_stock_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_stock_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `wishlist`
--

LOCK TABLES `wishlist` WRITE;
/*!40000 ALTER TABLE `wishlist` DISABLE KEYS */;
INSERT INTO `wishlist` (`wishlist_id`, `user_id`, `product_id`, `added_at`) VALUES (11,3,8,'2026-01-09 03:32:02'),(43,6,8,'2026-01-16 15:55:02'),(44,6,9,'2026-01-16 15:55:03'),(45,12,8,'2026-01-19 05:32:47'),(46,12,7,'2026-01-19 05:32:48');
/*!40000 ALTER TABLE `wishlist` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-22 22:37:58
